* {
	margin: 0;
	padding: 0;
}
#wrapper {
	display: flex;
    flex-flow: row wrap;
}

header {
	width: 100%;
}
header figure img {
	overflow: hidden;
    border-radius: 50%;
    width: 20%;
    margin: 0 auto;
    display: block;
}
#seccionPerfil {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin: 20px 0;
}
#seccionPerfil figure {
	    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
#seccionPerfil figure img {
	overflow: hidden;
    margin-top: -40px;
    margin-left: -50px;
    width: 200%;
    height: auto;
}
.descPersonal {
	width: 50%;
	margin: 0 20px;
	font-size: 14px;
	line-height: 20px;
	text-align: justify;
}

footer {
	background-color: #f5f5f5;
	width: 100%;
	display: block;
}
